.footer {
  background-color: var(--surface);
  border-top: 1px solid var(--accent);
  padding: 10px 10px;
  text-align: center;
  margin-left: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  color: #64748b;
  margin-top: auto;
}

