.notfound-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;
    text-align: center;
    background-color: #000;
}

.notfound-title {
    font-size: 6rem;
    font-weight: bold;
    color: #ff4d4d;
    margin: 0;
}

.notfound-message {
    font-size: 1.5rem;
    margin: 10px 0;
    color: #ccc;
}

.notfound-link {
    margin-top: 20px;
    padding: 10px 20px;
    background: #ff4d4d;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: 0.3s;
}

.notfound-link:hover {
    background: #ff1a1a;
}