/* Importing the Poppins font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

/* Apply Poppins globally */
body {
  font-family: 'Poppins', sans-serif;
  background-color: #121212; /* Optional: Sets a dark background if you want a full dark theme */
  margin: 0;
  padding: 0;
   -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Make headings bolder */
h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

/* Optional: Reset buttons and inputs to look good with Poppins */
button, input, select, textarea {
  font-family: 'Poppins', sans-serif;
}


::-webkit-scrollbar {
  width: 2px;
}


::-webkit-scrollbar-track {
  background: #15171c;
}

::-webkit-scrollbar-thumb {
  background: #15171c;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #15171c;
}

/* xml css */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes ball-bounce {
  0%, 100% { transform: translate(-50%, -50%) scale(1); }
  50% { transform: translate(-50%, -150%) scale(1.2); }
}

@keyframes background-pulse {
  0% { background: linear-gradient(45deg, #f3f3f3, #e1e1e1); }
  50% { background: linear-gradient(45deg, #e1e1e1, #f3f3f3); }
  100% { background: linear-gradient(45deg, #f3f3f3, #e1e1e1); }
}
@keyframes text-fade {
  0%, 100% { opacity: 0.6; }
  50% { opacity: 1; }
}
