.dashboard-layout {
  display: flex;
}

.main-content {
  flex-grow: 1;
  margin-left: 250px; /* Same as sidebar width */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  padding-top: 70px; /* Space for topbar */
  padding-bottom: 60px; /* Space for footer */
}

.content {
  padding: 30px;
  flex-grow: 1;
  background-color: #f4f6f9;
}
