.dashboard-layout {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-y: auto;
}

.content {
  padding: 20px;
  flex-grow: 1;
  background-color: #f4f6f9;
}
